:root {
    --bg-color: hsl(0, 0%, 98%);
    --element-bg: hsl(0, 0%, 100%);
    --text-color: hsl(200, 15%, 8%);
    --input-color: hsl(0, 0%, 52%);
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

body.dark-mode {
    --bg-color: hsl(207, 26%, 17%);
    --element-bg: hsl(209, 23%, 22%);
    --text-color: hsl(0, 0%, 100%);
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Qora rejim uchun kuchliroq soya */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Nunito Sans', sans-serif;
    transition: background 0.3s, color 0.3s;
}
.header {
    background-color: var(--element-bg);
    box-shadow: var(--box-shadow);
    padding: 23px;
    transition: background 0.3s;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
/* header nav=================================== */

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.theme-toggle{
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer; 
}
.dark-moon{
    border: none;
    width: 20px;
    height: 20px;
    background-color: inherit;
    color: var(--text-color);
    cursor: pointer;
    font-size: 18px;
}
.logo{
    color: var(--text-color);
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
}
.text {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: var(--text-color);
    user-select: none; 
}
/* search ======================================= */
.controls-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 48px;
    gap: 10px;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 24px;
    border: none;
    padding: 18px;
    background-color: var(--element-bg); 
    box-shadow: var(--box-shadow); 
    border-radius: 10px;
    width: 100%;
    max-width: 480px;
    transition: background 0.3s;
}

.search-box input {
    border: none;
    outline: none;
    background-color: transparent; 
    color: var(--text-color); 
    width: 100%;
    font-size: 14px;
}

.search-box input::placeholder {
    color: var(--text-color);
    opacity: 0.6; 
}

.search-box i {
    color: var(--text-color);
}

.filter-box {
    display: flex;
    align-items: center;
    padding: 18px;
    width: 200px;
    background-color: var(--element-bg); 
    box-shadow: var(--box-shadow); 
    border-radius: 10px;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
}

/* responsive========================================== */
@media(max-width:500px){
    .header-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    .controls-section{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
    .filter-box{
        padding: 14px;
    }
    .search-box{
        max-width: 100%;
        padding: 14px;
    }
}
